html, body {
    height: 100%;
    margin: 0;
}
body {
    background: linear-gradient(to bottom , rgb(111, 220, 217), rgb(99, 97, 234));
     background-attachment: fixed; /*para que se mantenga el color*/
/* Para imagen
  background-image: url("C:/Users/juanj/Documents/Universidad/Tercero/1º Cuatri/DesarrolloSisWeb/web-system-development/exercises/01/photos/descarga.png");
  background-size: cover;      
  background-repeat: no-repeat;  //para que no se repita 
*/
}